<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.promotion.dao.ActivityCouponMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.promotion.entity.ActivityCoupon">
        <id column="activity_coupon_id" jdbcType="INTEGER" property="activityCouponId"/>
        <result column="activity_coupon_name" jdbcType="VARCHAR" property="activityCouponName"/>
        <result column="activity_remark" jdbcType="VARCHAR" property="activityRemark"/>
        <result column="activity_model" jdbcType="VARCHAR" property="activityModel"/>
        <result column="activity_img" jdbcType="VARCHAR" property="activityImg"/>
        <result column="overlay_state" jdbcType="BIT" property="overlayState"/>
        <result column="now_state" jdbcType="INTEGER" property="nowState"/>
        <result column="full_state" jdbcType="BIT" property="fullState"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="upate_time" jdbcType="VARCHAR" property="upateTime"/>
        <result column="start_date" jdbcType="VARCHAR" property="startDate"/>
        <result column="end_date" jdbcType="VARCHAR" property="endDate"/>
        <result column="delete_state" jdbcType="BIT" property="deleteState"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
    </resultMap>

    <resultMap id="BackResultMap" type="com.medusa.basemall.promotion.vo.ActivityCouponVo" extends="BaseResultMap">
        <collection property="couponList" column="activity_coupon_id"
                    select="com.medusa.basemall.promotion.dao.CouponMapper.selectByActivityCouponId"></collection>
    </resultMap>

    <sql id="Base_Column_List">
        activity_coupon_id, activity_coupon_name, activity_remark, activity_model, activity_img,overlay_state,
        now_state, full_state,create_time, upate_time, start_date, end_date, delete_state, appmodel_id
    </sql>

    <!--正在进行的活动-->
    <select id="selectNotEnd" resultMap="BaseResultMap" parameterType="map">
        select
          <include refid="Base_Column_List"/>
        from t_activity_coupon
        where now_state in (1,2) and appmodel_id = #{appmodelId,jdbcType=VARCHAR} and delete_state = 0
    </select>

    <select id="findByAppmodelId" resultMap="BackResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from t_activity_coupon
        where appmodel_id = #{appmodelId,jdbcType=VARCHAR} and delete_state = 0 order by now_state desc,start_date
    </select>

    <update id="batchDelete" >
        update t_activity_coupon set delete_state = 1
        where activity_coupon_id
        <foreach collection="activityCouponIds" open="in(" close=")" separator="," item="activityId">
            #{activityId}
        </foreach>
    </update>

    <update id="updateEndDate">
         update t_activity_coupon set now_state = #{newState},end_date=#{endDate}
         where activity_coupon_id = #{activityId}
    </update>


    <select id="selectById" resultMap="BackResultMap" parameterType="integer">
        select
        <include refid="Base_Column_List"/>
        from t_activity_coupon
        where now_state = 2 and activity_coupon_id=#{activityCouponId,jdbcType=INTEGER} and
        delete_state = 0
    </select>

    <select id="findByActivityCouponIdToStart" resultMap="BackResultMap" parameterType="integer">
        select
        <include refid="Base_Column_List"/>
        from t_activity_coupon
        where  now_state = 1 and activity_coupon_id=#{activityCouponId,jdbcType=INTEGER} and delete_state = 0
    </select>

    <select id="findByActivityCouponIdToEnd" resultMap="BackResultMap" parameterType="integer">
        select
        <include refid="Base_Column_List"/>
        from t_activity_coupon
        where  now_state = 2 and activity_coupon_id=#{activityCouponId,jdbcType=INTEGER}
    </select>

    <select id="selectStart" resultMap="BackResultMap" parameterType="string">
        select
          <include refid="Base_Column_List"/>
        from t_activity_coupon
        where  now_state = 2  and appmodel_id = #{appmodelId,jdbcType = INTEGER} and delete_state = 0
    </select>

    <select id="selectStartAndFullAll" resultMap="BackResultMap" parameterType="string">
        select
          <include refid="Base_Column_List"/>
        from t_activity_coupon
        where  now_state = 2 and appmodel_id = #{appmodelId,jdbcType = INTEGER} and delete_state = 0 and full_state =1
    </select>

    <select id="selectSpecialOne" resultMap="BackResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from t_activity_coupon
        where  now_state in (1,2) and appmodel_id = #{appmodelId,jdbcType = INTEGER} and delete_state = 0 and  overlay_state = 0 and full_state = 1
    </select>

    <select id="selectSpecialTwo" resultMap="BackResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from t_activity_coupon
        where  now_state in (1,2) and appmodel_id = #{appmodelId,jdbcType =VARCHAR} and delete_state = 0 and full_state = 1
        <if test="activityCouponId != null">
            and  activity_coupon_id != #{activityCouponId,jdbcType = INTEGER}
        </if>
    </select>

    <select id="selectStartAndEnd" resultMap="BackResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from t_activity_coupon
        where  now_state in (0,2) and appmodel_id = #{appmodelId,jdbcType = VARCHAR} and delete_state = 0
        order by now_state desc
    </select>


    <select id="findGoingAndNotStarted" resultMap="BaseResultMap" parameterType="string">
      select
        <include refid="Base_Column_List"/>
        from t_activity_coupon
        where  now_state in (1,2) and appmodel_id = #{appmodelId,jdbcType = VARCHAR} and delete_state = 0
    </select>

</mapper>