<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.agent.dao.AgentPurchaseOrderDetailedMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.agent.entity.AgentPurchaseOrderDetailed">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="purchase_order_detailed_id" jdbcType="BIGINT" property="purchaseOrderDetailedId"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="product_img" jdbcType="VARCHAR" property="productImg"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="product_spec_info" jdbcType="VARCHAR" property="productSpecInfo"/>
        <result column="activity_info" jdbcType="VARCHAR" property="activityInfo"/>
        <result column="purchase_order_id" jdbcType="BIGINT" property="purchaseOrderId"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="delete_state" jdbcType="BIT" property="deleteState"/>
    </resultMap>
    <sql id="Base_Column_List">
    purchase_order_detailed_id, product_id, product_name, price, product_img, quantity,
    product_spec_info, activity_info, purchase_order_id, create_time, appmodel_id, delete_state
  </sql>
    <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="Long">
      select
      <include refid="Base_Column_List"/>
        from t_agent_purchase_order_detailed
        where purchase_order_id =#{purchaseOrderId}
    </select>
</mapper>