<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.agent.dao.AgentProductMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.agent.entity.AgentProduct">
        <id column="agent_product_id" jdbcType="BIGINT" property="agentProductId" />
        <result column="product_id" jdbcType="BIGINT" property="productId" />
        <result column="agent_stock" jdbcType="INTEGER" property="agentStock" />
        <result column="agent_sales_volume" jdbcType="INTEGER" property="agentSalesVolume" />
        <result column="agent_shelf_state" jdbcType="INTEGER" property="agentShelfState" />
        <result column="price" jdbcType="DOUBLE" property="price" />
        <result column="delete_state" jdbcType="INTEGER" property="deleteState" />
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId" />
        <result column="release_time" jdbcType="VARCHAR" property="releaseTime" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="down_shelves_time" jdbcType="VARCHAR" property="downShelvesTime" />
        <result column="spec_type" jdbcType="BIT" property="specType" />
    </resultMap>

</mapper>