<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.agent.dao.AgentRegisterMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.agent.entity.AgentRegister">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="reg_id" jdbcType="INTEGER" property="regId"/>
        <result column="wxuser_id" jdbcType="BIGINT" property="wxuserId"/>
        <result column="reg_name" jdbcType="VARCHAR" property="regName"/>
        <result column="reg_phone" jdbcType="VARCHAR" property="regPhone"/>
        <result column="reg_code" jdbcType="VARCHAR" property="regCode"/>
        <result column="binding" jdbcType="INTEGER" property="binding"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="agent_grade_id" jdbcType="INTEGER" property="agentGradeId"/>
        <result column="reg_auditor" jdbcType="VARCHAR" property="regAuditor"/>
        <result column="reg_state" jdbcType="INTEGER" property="regState"/>
        <result column="reg_time" jdbcType="VARCHAR" property="regTime"/>
        <result column="reg_remark" jdbcType="VARCHAR" property="regRemark"/>
        <result column="refuse_remark" jdbcType="VARCHAR" property="refuseRemark"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="agent_domain" jdbcType="VARCHAR" property="agentDomain"/>
    </resultMap>

    <update id="refuse" parameterType="java.util.Map">
        update t_agent_register
        set
        reg_state = #{regState,jdbcType=INTEGER},
        refuse_remark = #{refuseRemark,jdbcType=VARCHAR}
        where appmodel_id = #{appmodelId,jdbcType=VARCHAR} and
        reg_id in(
        <foreach collection="regIds" separator="," item="regId">
            #{regId,jdbcType=INTEGER}
        </foreach>
        )
    </update>

</mapper>