<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.agent.dao.AgentPurchaseOrderMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.agent.entity.AgentPurchaseOrder">
        <id column="purchase_order_id" jdbcType="BIGINT" property="purchaseOrderId"/>
        <result column="agent_product_id" jdbcType="BIGINT" property="agentProductId"/>
        <result column="out_trade_no_ext" jdbcType="VARCHAR" property="outTradeNoExt"/>
        <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="pay_fee" jdbcType="DECIMAL" property="payFee"/>
        <result column="pay_flag" jdbcType="INTEGER" property="payFlag"/>
        <result column="total_fee" jdbcType="DECIMAL" property="payFee"/>
        <result column="pay_type" jdbcType="INTEGER" property="payType"/>
        <result column="wxuser_id" jdbcType="BIGINT" property="wxuserId"/>
        <result column="pay_time" jdbcType="VARCHAR" property="payTime"/>
        <result column="send_time" jdbcType="VARCHAR" property="sendTime"/>
        <result column="record_time" jdbcType="VARCHAR" property="recordTime"/>
        <result column="refound_time" jdbcType="VARCHAR" property="refoundTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="wl_num" jdbcType="VARCHAR" property="wlNum"/>
        <result column="wl_code" jdbcType="VARCHAR" property="wlCode"/>
        <result column="wl_price" jdbcType="BIGINT" property="wlPrice"/>
        <result column="distri_mode" jdbcType="VARCHAR" property="distriMode"/>
        <result column="back_remark" jdbcType="VARCHAR" property="backRemark"/>
        <result column="close_time" jdbcType="VARCHAR" property="closeTime"/>
        <result column="delete_state" jdbcType="BIT" property="deleteState"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="wl_name" jdbcType="VARCHAR" property="wlName"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
        <result column="delivery_staff" jdbcType="VARCHAR" property="deliveryStaff"/>
    </resultMap>

    <resultMap id="MiniOrderListMap" type="com.medusa.basemall.agent.vo.MiniOrderListVo" extends="BaseResultMap">
        <collection property="detaileds" column="purchase_order_id"
                    ofType="com.medusa.basemall.agent.entity.AgentPurchaseOrderDetailed"
                    select="com.medusa.basemall.agent.dao.AgentPurchaseOrderDetailedMapper.selectByOrderId"/>
    </resultMap>

    <resultMap id="BackstageOrderListMap" type="com.medusa.basemall.agent.vo.BackstageOrderListVo"
               extends="MiniOrderListMap">
        <collection property="detaileds" column="purchase_order_id"
                    ofType="com.medusa.basemall.agent.entity.AgentPurchaseOrderDetailed"
                    select="com.medusa.basemall.agent.dao.AgentPurchaseOrderDetailedMapper.selectByOrderId"/>
    </resultMap>

    <sql id="Base_Column_List">
        purchase_order_id, agent_product_id, out_trade_no_ext, out_trade_no, create_time,
        pay_flag, pay_fee, total_fee, wxuser_id, pay_time, send_time, record_time, refound_time,
        remark, address, wl_num, pay_type, wl_code, wl_price, distri_mode, back_remark, close_time,
        delete_state, appmodel_id, wl_name, update_time, delivery_staff
  </sql>

    <update id="closeOrder">
        update t_agent_purchase_order
        <set>
            pay_flag = #{closeType}
        </set>
        where purchase_order_id
        <foreach collection="purchaseOrderIds" open="in(" close=")" separator="," item="i">
            #{i,jdbcType=BIGINT}
        </foreach>
    </update>


    <select id="selectByOutTradeNo" parameterType="String"
            resultType="com.medusa.basemall.agent.entity.AgentPurchaseOrder">
        select
        <include refid="Base_Column_List"/>
        from t_agent_purchase_order
        where
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
        or
        out_trade_no_ext = #{outTradeNo,jdbcType=VARCHAR}
    </select>

    <sql id="Alias_List">
        o.purchase_order_id, o.agent_product_id, o.out_trade_no_ext, o.out_trade_no, o.create_time,
        o.pay_flag, o.pay_fee, o.total_fee, o.wxuser_id, o.pay_time, o.send_time, o.record_time, o.refound_time,
        o.remark, o.address, o.wl_num, o.pay_type, o.wl_code, o.wl_price, o.distri_mode,o.back_remark,o.close_time,
        o.delete_state, o.appmodel_id, o.wl_name, o.update_time, o.delivery_staff
    </sql>
    <select id="selectMiniList" resultMap="MiniOrderListMap" parameterType="Map">
        select
        <include refid="Alias_List"/>
        from t_agent_purchase_order o
        <if test="shopName != null">
            left join t_agent_purchase_order_detailed detailed on detailed.purchase_order_id = o.purchase_order_id
        </if>
        where
        o.wxuser_id = #{wxuserId,jdbcType=BIGINT}
        <if test="payFlag != null and payFlag  &gt;= 0  and payFlag &lt;= 3">
            and o.pay_flag = #{payFlag,jdbcType=INTEGER}
        </if>
        <if test="payFlag != null and payFlag == 4">
            and o.pay_flag in(4,5,6)
        </if>
        <if test="shopName != null">
            and detailed.product_name like #{shopName}
        </if>
    </select>
    <select id="selectMiniListDetail" resultMap="MiniOrderListMap" parameterType="Long">
        select
        <include refid="Base_Column_List"/>
        from t_agent_purchase_order
        where
        purchase_order_id = #{purchaseOrderId}
    </select>



    <select id="selectBackstageList" resultMap="BackstageOrderListMap" parameterType="Map">
        select
        <include refid="Alias_List"/>
        from t_agent_purchase_order o
        where
        o.appmodel_id = #{appmodelId}
        <if test="shopName != null">
            and purchase_order_id in(select purchase_order_id from t_agent_purchase_order_detailed where
            product_name like #{shopName} and appmodel_id
            = #{appmodelId})
        </if>

        <if test="payFlag != null and payFlag  &gt;= 0  and payFlag &lt;= 3">
            and o.pay_flag = #{payFlag,jdbcType=INTEGER}
        </if>
        <if test="payFlag == 4">
            and o.pay_flag in(4,5,6)
        </if>
        <if test="user != null">
            and o.address like #{user}
        </if>
        <if test="phone != null">
            and o.address like #{phone}
        </if>
        <if test="outTradeNo != null">
            and o.out_trade_no = #{outTradeNo}
        </if>
        <if test="wlNum != null">
            and o. wl_num = #{wlNum}
        </if>
        <if test="startTime != null">
            and o.pay_time like #{startTime}
        </if>
        <if test="endTime != null">
            and o.pay_time like #{endTime}
        </if>
        <if test="payFlag == null">
            order by o.create_time desc
        </if>
    </select>
    <select id="selectBackstageDetail" resultMap="BackstageOrderListMap" parameterType="Long">
        select
        <include refid="Base_Column_List"/>
        from t_agent_purchase_order
        where
        purchase_order_id = #{purchaseOrderId}
    </select>

</mapper>