<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.promotion.dao.CouponMapper">
  <resultMap id="BaseResultMap" type="com.medusa.basemall.promotion.entity.Coupon">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="coupon_id" jdbcType="INTEGER" property="couponId" />
    <result column="activity_coupon_id" jdbcType="INTEGER" property="activityCouponId" />
    <result column="stock_quantity" jdbcType="INTEGER" property="stockQuantity" />
    <result column="limit_quantity" jdbcType="INTEGER" property="limitQuantity" />
    <result column="min_price" jdbcType="DECIMAL" property="minPrice" />
    <result column="max_price" jdbcType="DECIMAL" property="maxPrice" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="coupon_type" jdbcType="INTEGER" property="couponType" />
    <result column="source_type" jdbcType="INTEGER" property="sourceType" />
    <result column="obtain_quantity" jdbcType="INTEGER" property="obtainQuantity" />
    <result column="used_quantity" jdbcType="INTEGER" property="usedQuantity" />
    <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId" />
    <result column="delete_state" jdbcType="BIT" property="deleteState" />
    <result column="convert_price" jdbcType="INTEGER" property="convertPrice" />
    <result column="live_time" jdbcType="TINYINT" property="liveTime" />
    <result column="day" jdbcType="INTEGER" property="day" />
    <result column="statr_time" jdbcType="VARCHAR" property="statrTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <association property="activityCoupon" column="activity_coupon_id"
                 select="com.medusa.basemall.promotion.dao.ActivityCouponMapper.selectByPrimaryKey"/>
  </resultMap>

  <sql id="Base_Column_List">
    coupon_id, activity_coupon_id, stock_quantity, limit_quantity, min_price, max_price, discount,
    coupon_type, source_type, obtain_quantity, used_quantity, appmodel_id, delete_state, convert_price, live_time,
    day, statr_time, end_time
  </sql>

  <update id="deleteByActivityCouponId" >
      update t_coupon set delete_state = 1
      where activity_coupon_id
      <foreach item="item"  collection="activityCouponIds"  open="in(" separator="," close=")">
          ${item}
      </foreach>
  </update>


  <select id="selectByActivityCouponId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from t_coupon
    where activity_coupon_id = #{activityCouponId,jdbcType=INTEGER} and delete_state=0
  </select>

    <select id="selectByActivityCouponIdOver" resultMap="BaseResultMap" parameterType="java.lang.Integer">
      select
      <include refid="Base_Column_List"/>
      from t_coupon
      where activity_coupon_id = #{activityCouponId,jdbcType=INTEGER} and delete_state=1
    </select>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from t_coupon
    where coupon_id = #{couponId, jdbcType=INTEGER}
  </select>

</mapper>