<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.shop.dao.FirstpageClassifyMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.shop.entity.FirstpageClassify">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="classify_id" jdbcType="INTEGER" property="classifyId"/>
        <result column="classify_name" jdbcType="VARCHAR" property="classifyName"/>
        <result column="classify_img" jdbcType="VARCHAR" property="classifyImg"/>
        <result column="link_type" jdbcType="INTEGER" property="linkType"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="target_name" jdbcType="VARCHAR" property="targetName"/>
        <result column="category_id" jdbcType="BIGINT" property="categoryId"/>
        <result column="notice_id" jdbcType="INTEGER" property="noticeId"/>
        <result column="article_id" jdbcType="VARCHAR" property="articleId"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="target_url" jdbcType="VARCHAR" property="targetUrl"/>
    </resultMap>

    <sql id="Base_Column_List">
        classify_id, classify_name, classify_img, link_type, product_id, target_name, category_id, notice_id,
        article_id, appmodel_id, sort, target_url
    </sql>
    <update id="updateFirstpage">
        update t_firstpage_classify set target_url = "",target_name = ""
        where
        <if test="articleId != null">
            article_id = #{articleId}
        </if>

        <if test="noticeId != null">
            notice_id = #{noticeId}
        </if>

        <if test="productId != null">
            product_id = #{productId}
        </if>

        <if test="categoryId != null">
            category_id = #{categoryId}
        </if>
    </update>

    <select id="findByAppmodelId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_firstpage_classify
        where appmodel_id = #{appmodelId,jdbcType=VARCHAR} order by sort
    </select>

    <select id="findByAppmodelIdDesc" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_firstpage_classify
        where appmodel_id = #{appmodelId,jdbcType=VARCHAR} order by sort desc
    </select>

</mapper>