<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.promotion.dao.GroupMapper">
  <resultMap id="BaseResultMap" type="com.medusa.basemall.promotion.entity.Group">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="wxuser_id" jdbcType="BIGINT" property="wxuserId" />
    <result column="activity_group_id" jdbcType="INTEGER" property="activityGroupId" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="group_state" jdbcType="BIT" property="groupState" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="limit_num" jdbcType="INTEGER" property="limitNum" />
    <result column="delete_state" jdbcType="BIT" property="deleteState" />
    <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId" />
  </resultMap>

  <resultMap id="BackResultMap" type="com.medusa.basemall.order.vo.GroupVo" extends="BaseResultMap">
    <collection property="activityGroup" ofType="com.medusa.basemall.promotion.entity.ActivityGroup"
                column="activity_group_id" select="com.medusa.basemall.promotion.dao.ActivityGroupMapper.selectByPrimaryKey" />
    <collection property="groupMembers" ofType="com.medusa.basemall.promotion.entity.GroupMember"
                column="group_id" select="com.medusa.basemall.promotion.dao.GroupMemberMapper.findByGroupId" />
  </resultMap>


  <sql id="Base_Column_List">
    group_id, wxuser_id, activity_group_id, create_time, end_time, group_state, product_id, limit_num, delete_state, appmodel_id
  </sql>

  <select id="selectGroup" resultMap="BaseResultMap" parameterType="com.medusa.basemall.promotion.entity.Group" >
    select
    <include refid="Base_Column_List" />
    from t_group
    where product_id = #{productId,jdbcType=VARCHAR} and group_state = 0 and delete_state = 0 and wxuser_id != #{wxuserId, jdbcType=BIGINT}
    and appmodel_id = #{appmodelId, jdbcType=VARCHAR}
  </select>

  <select id="findByGroupId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_group
    where group_id = #{groupId,jdbcType=VARCHAR} and group_state = 0 and delete_state = 0
  </select>

  <select id="selectByGroupId" resultMap="BackResultMap" parameterType="java.lang.Integer">
    <include refid="Base_Column_List" />
    from t_group
    where group_id = #{groupId,jdbcType=VARCHAR} and delete_state = 0
  </select>

</mapper>