<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.promotion.dao.GroupMemberMapper">
  <resultMap id="BaseResultMap" type="com.medusa.basemall.promotion.entity.GroupMember">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="group_member_id" jdbcType="INTEGER" property="groupMemberId" />
    <result column="wxuser_id" jdbcType="BIGINT" property="wxuserId" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="member_type" jdbcType="BIT" property="memberType" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId" />
    <result column="delete_state" jdbcType="BIT" property="deleteState" />
  </resultMap>

  <sql id="Base_Column_List">
    group_member_id, wxuser_id, group_id, order_id, create_time, member_type, nick_name, avatar_url, delete_state, appmodel_id
  </sql>

  <select id="findByGroupId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_group_member
    where group_id = #{groupId,jdbcType=INTEGER}  and delete_state = 0
  </select>

  <select id="findByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from t_group_member
    where order_id = #{orderId,jdbcType=INTEGER}  and delete_state = 1
  </select>

    <select id="findByWxuserIdAndGroupId" resultMap="BaseResultMap" parameterType="map" >
      select
      <include refid="Base_Column_List" />
      from t_group_member
      where wxuser_id = #{wxuserId,jdbcType=BIGINT}  and group_id = #{groupId,jdbcType=INTEGER} and delete_state = 0
    </select>

  <select id="findByWxuserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
     select
    <include refid="Base_Column_List" />
    from t_group_member
    where wxuser_id = #{wxuserId,jdbcType=BIGINT} and delete_state = 0
  </select>

</mapper>