<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.product.dao.LogisticModelMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.product.entity.LogisticModel">
        <id column="logistic_model_id" jdbcType="INTEGER" property="logisticModelId"/>
        <result column="logistic_model_name" jdbcType="VARCHAR" property="logisticModelName"/>
        <result column="valuation_type" jdbcType="INTEGER" property="valuationType"/>
        <result column="turn_state" jdbcType="BIT" property="turnState"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="free_state" jdbcType="BIT" property="freeState"/>
    </resultMap>

    <resultMap id="DetailResultMap" type="com.medusa.basemall.product.vo.LogisticModelVo" extends="BaseResultMap">
        <collection column="logistic_model_id" property="chargeList"
                    select="com.medusa.basemall.product.dao.LogisticChargeMapper.selectBylogisticModelId"/>
        <collection column="logistic_model_id" property="freeList"
                    select="com.medusa.basemall.product.dao.LogisticFreeMapper.selectBylogisticModelId"/>
    </resultMap>

    <sql id="Base_Column_List">
        logistic_model_id, logistic_model_name, valuation_type, turn_state,create_time, appmodel_id,free_state
    </sql>

    <select id="findModelByAppmodelIdDetail" resultMap="DetailResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_logistic_model
        where appmodel_id = #{appmodelId,jdbcType=VARCHAR}
    </select>
    <select id="findByWlCalculateFare" resultMap="DetailResultMap" parameterType="List">
        select
        <include refid="Base_Column_List"/>
        from t_logistic_model
        where logistic_model_id in
        <foreach collection="logisticModelIds" item="item" separator="," open="(" close=")">
          #{item,jdbcType=INTEGER}
        </foreach>
    </select>

    <update id="openOrCloseModel" parameterType="com.medusa.basemall.product.entity.LogisticModel">
        update t_logistic_model set turn_state = #{turnState,jdbcType=INTEGER} where appmodel_id =
        #{appmodelId,jdbcType=VARCHAR}
    </update>

</mapper>