<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.product.dao.LogisticCancelMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.product.entity.LogisticCancel">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="logistic_cancel_id" jdbcType="INTEGER" property="logisticCancelId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="post_code" jdbcType="VARCHAR" property="postCode"/>
        <result column="location_json" jdbcType="VARCHAR" property="locationJson"/>
        <result column="default_state" jdbcType="BIT" property="defaultState"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
    </resultMap>
    <sql id="Base_Column_List">
        logistic_cancel_id,user_name,phone,post_code,location_json,default_state,appmodel_id
      </sql>

    <update id="updateDefaultState" parameterType="java.lang.String">
        update t_logistic_cancel
        set default_state = 0 where appmodel_id = #{appmodelId,jdbcType=VARCHAR}
    </update>

    <select id="selectDefultTrue" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_logistic_cancel
        where appmodel_id = #{appmodelId, jdbcType=VARCHAR} and default_state = 1
    </select>
</mapper>