<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.user.dao.MemberRankMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.user.entity.MemberRank">
        <id column="rank_id" jdbcType="INTEGER" property="rankId"/>
        <result column="rank_name" jdbcType="VARCHAR" property="rankName"/>
        <result column="discount" jdbcType="DOUBLE" property="discount"/>
        <result column="back_ground_pic_url" jdbcType="VARCHAR" property="backGroundPicUrl"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="deduct_growth" jdbcType="INTEGER" property="deductGrowth"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="delete_state" jdbcType="INTEGER" property="deleteState"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="growth_value" jdbcType="INTEGER" property="growthValue"/>
    </resultMap>
    <sql id="Base_Column_List">
        rank_id,rank_name,discount,back_ground_pic_url,title,deduct_growth,create_time,delete_state,appmodel_id,growth_value
    </sql>
</mapper>