<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.user.dao.MemberMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.user.entity.Member">
        <id column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="membership_number" jdbcType="VARCHAR" property="membershipNumber"/>
        <result column="code_type" jdbcType="VARCHAR" property="codeType"/>
        <result column="wxuser_id" jdbcType="BIGINT" property="wxuserId"/>
        <result column="supply_bonus" jdbcType="DOUBLE" property="supplyBonus"/>
        <result column="growth_value" jdbcType="INTEGER" property="growthValue"/>
        <result column="integral" jdbcType="INTEGER" property="integral"/>
        <result column="integral_total" jdbcType="INTEGER" property="integralTotal"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="upgrade_time" jdbcType="VARCHAR" property="upgradeTime"/>
        <result column="member_remark" jdbcType="VARCHAR" property="memberRemark"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="rank_id" jdbcType="INTEGER" property="rankId"/>
        <association property="rankInfo"
                     column="rank_id"
                     select="com.medusa.basemall.user.dao.MemberRankMapper.selectByPrimaryKey"
                     javaType="com.medusa.basemall.user.entity.MemberRank"/>
    </resultMap>

    <!--<resultMap id="memberRankMap" type="com.medusa.basemall.user.entity.MemberRank">-->
    <!--<id column="rank_id" jdbcType="INTEGER" property="rankId"/>-->
    <!--<result column="rank_name" jdbcType="VARCHAR" property="rankName"/>-->
    <!--<result column="discount" jdbcType="DOUBLE" property="discount"/>-->
    <!--<result column="back_ground_pic_url" jdbcType="VARCHAR" property="backGroundPicUrl"/>-->
    <!--<result column="title" jdbcType="VARCHAR" property="title"/>-->
    <!--<result column="deduct_growth" jdbcType="INTEGER" property="deductGrowth"/>-->
    <!--<result column="create_time" jdbcType="VARCHAR" property="createTime"/>-->
    <!--<result column="delete_state" jdbcType="INTEGER" property="deleteState"/>-->
    <!--<result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>-->
    <!--<result column="growth_value" jdbcType="INTEGER" property="growthValue"/>-->
    <!--</resultMap>-->

    <sql id="Base_Column_List">
        member_id, membership_number,code_type,wxuser_id,supply_bonus,growth_value,
        integral,integral_total,phone,create_time,upgrade_time,
        state,rank_id, appmodel_id,member_remark
    </sql>


    <!-- 根据用户id查询会员信息-->
    <select id="selectUser" resultMap="BaseResultMap">
        select
         <include refid="Base_Column_List"/>
        from
        t_member
        where
        wxuser_id = #{wxuserId} and appmodel_id = #{appmodelId}
    </select>


    <select id="selectByPhone" parameterType="Map" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List"/>
        from t_member
        where phone = #{phone,jdbcType=INTEGER} and appmodel_id = #{appmodelId,jdbcType=VARCHAR}
    </select>


    <select id="selectMemberIntegral" resultMap="BaseResultMap" parameterType="com.medusa.basemall.user.entity.Member">
        select
          <include refid="Base_Column_List"/>
        from t_member
        where appmodel_id = #{appmodelId, jdbcType=VARCHAR} and wxuser_id = #{wxuserId, jdbcType=BIGINT}
    </select>

</mapper>