<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.user.dao.MemberRechargeRecordMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.user.entity.MemberRechargeRecord">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="recharge_record_id" jdbcType="BIGINT" property="rechargeRecordId"/>
        <result column="order_number" jdbcType="VARCHAR" property="orderNumber"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="active_recharge_id" jdbcType="INTEGER" property="activeRechargeId"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="pay_time" jdbcType="VARCHAR" property="payTime"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
    </resultMap>
</mapper>