<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.user.dao.MemberRankRuleMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.user.entity.MemberRankRule">
        <id column="member_rule_id" jdbcType="INTEGER" property="memberRuleId"/>
        <result column="login_integral" jdbcType="INTEGER" property="loginIntegral"/>
        <result column="share_integral" jdbcType="INTEGER" property="shareIntegral"/>
        <result column="consume_integral" jdbcType="INTEGER" property="consumeIntegral"/>
        <result column="validity" jdbcType="INTEGER" property="validity"/>
        <result column="introduce" jdbcType="VARCHAR" property="introduce"/>
        <result column="explain_info" jdbcType="VARCHAR" property="explainInfo"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="explain_state" jdbcType="INTEGER" property="explainState"/>
    </resultMap>
</mapper>