<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.order.dao.OrderDetailMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.order.entity.OrderDetail">
        <id column="order_detail_id" jdbcType="BIGINT" property="orderDetailId"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="product_img" jdbcType="VARCHAR" property="productImg"/>
        <result column="product_spec_info" jdbcType="VARCHAR" property="productSpecInfo"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="delete_state" jdbcType="BIT" property="deleteState"/>
        <result column="activity_info" jdbcType="VARCHAR" property="activityInfo"/>
        <result column="apply_state" jdbcType="INTEGER" property="applyState"/>
        <result column="number" jdbcType="INTEGER" property="number"/>
        <result column="refuse_state" jdbcType="INTEGER" property="refuseState"/>
        <result column="preferential" jdbcType="DECIMAL" property="preferential"/>
        <result column="record" jdbcType="VARCHAR" property="record"/>
        <result column="wl_price" jdbcType="DECIMAL" property="wlPrice"/>
        <collection property="orderRefounds" column="order_detail_id"
                    ofType="com.medusa.basemall.order.entity.OrderRefound"
                    select="com.medusa.basemall.order.dao.OrderRefoundMapper.findByDetailId"/>
    </resultMap>
    <sql id="Base_Column_List">
        order_detail_id,order_id,product_id,quantity,product_name,price,product_img,product_spec_info,update_time,appmodel_id,delete_state,
        activity_info,apply_state,number,refuse_state,record,wl_price,preferential
    </sql>
    <select id="findByDetailId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order_detail
        where order_detail_id = #{detailId}
    </select>

    <select id="selectByOrderId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_order_detail
        where order_id = #{orderId}
    </select>

    <select id="findRefundIn" parameterType="Map" resultMap="BaseResultMap">
        SELECT
        od.order_detail_id,od.order_id,od.product_id,od.quantity,
        od.product_name,od.price,od.product_img,
        od.product_spec_info,od.update_time,
        od.appmodel_id,
        od.delete_state,
        od.activity_info,
        od.apply_state,
        od.number,
        od.refuse_state,
        od.record,
        od.wl_price,
        od.preferential
        FROM
        t_order_detail AS od,
        t_order AS o
        <if test="outTradeNum != null">
            left join t_order_refound as rdr on rdr.appmodel_id=#{appmodelId}
            and rdr.order_refound_id = #{outTradeNum}
        </if>
        where
        od.appmodel_id = #{appmodelId}
        AND o.wxuser_id IN (
        SELECT wx.wxuser_id FROM t_wxuser AS wx
        WHERE wx.appmodel_id = #{appmodelId}
        <if test="nickName != null">
            and wx.nike_name like #{nickName}
        </if>)
        and o.order_id = od.order_id

        <if test="productName != null">
            and order_id in (select order_id from t_order_detail where product_name like #{productName} and appmodel_id
            = #{appmodelId})
        </if>
        <if test="userName != null">
            and o.user_name like #{userName}
        </if>
        <if test="phone != null">
            and o.tel_phone = #{phone}
        </if>
        <if test="wlNum != null">
            and o.wl_num = #{wlNum}
        </if>
        <if test="startTime != null">
            and o.pay_time > #{startTime}
        </if>
        <if test="endTime != null">
            and  <![CDATA[ o.pay_time <  #{endTime} ]]>
        </if>
        <if test="detailId == null">
            and od.apply_state = 1
        </if>
        <if test="detailId != null">
            and od.order_detail_id = #{detailId}
        </if>
    </select>

    <select id="findOrderRefund" parameterType="Map" resultMap="BaseResultMap">
        SELECT
        detail.*
        FROM
        t_order_detail detail
        LEFT JOIN t_order orde on detail.order_id = orde.order_id
        <where>
            orde.wxuser_id =#{wxuserId}
            and detail.number > 0
            <if test=" detailId != null">
                and detail.order_detail_id = #{detailId}
            </if>
        </where>
    </select>

    <select id="findOrderRefundIn" parameterType="com.medusa.basemall.order.entity.OrderDetail"
            resultType="java.lang.Integer">
        SELECT
	      count(*)
       FROM
        t_order_detail
       WHERE
        appmodel_id = #{appmodelId}
        AND order_id = #{orderId}
      AND apply_state = 1
    </select>

    <select id="countSaleNumber" resultType="java.lang.Double">
        SELECT
            sum(od.price)
        FROM
        t_order_detail od
        left join t_order o on o.order_id = od.order_id and  o.pay_flag = 3
        WHERE
        od.refuse_state <![CDATA[  < 5  ]]> and
        od.appmodel_id = #{appmodelId} and
        od.product_id = #{productId}
    </select>
</mapper>