<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.shop.dao.PlateMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.shop.entity.Plate">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="plate_id" jdbcType="INTEGER" property="plateId"/>
        <result column="plate_name" jdbcType="VARCHAR" property="plateName"/>
        <result column="plate_img" jdbcType="VARCHAR" property="plateImg"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="plate_flag" jdbcType="BIT" property="plateFlag"/>
        <result column="product_num" jdbcType="INTEGER" property="productNum"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
    </resultMap>
    <sql id="Base_Column_List">
        plate_id, plate_name, plate_img, create_time, remark, appmodel_id, plate_flag, product_num, sort
    </sql>

    <select id="findByAppmodelId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_plate
        where appmodel_id = #{appmodelId,jdbcType=VARCHAR} order by sort
    </select>

    <select id="findByAppmodelIdDesc" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_plate
        where appmodel_id = #{appmodelId,jdbcType=VARCHAR} order by sort desc
    </select>

    <delete id="batchDelete" parameterType="java.lang.String">
        delete from t_plate
        where plate_id in
        <foreach item="plateId" index="index" collection="array" open="("
                 separator="," close=")">
            #{plateId,jdbcType=INTEGER}
        </foreach>
    </delete>

    <update id="batchUpdate" parameterType="com.medusa.basemall.shop.vo.PlateVO">
        update t_plate set plate_flag = #{plateFlag}
        where plate_id in
        <foreach item="plateId" index="index" collection="plateId" open="("
                 separator="," close=")">
            #{plateId,jdbcType=INTEGER}
        </foreach>
    </update>

</mapper>