<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.integral.dao.PrizeOrderMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.integral.entity.PrizeOrder">
        <id column="prize_order_id" jdbcType="INTEGER" property="prizeOrderId"/>
        <result column="change_num" jdbcType="VARCHAR" property="changeNum"/>
        <result column="wxuser_id" jdbcType="BIGINT" property="wxuserId"/>
        <result column="prize_id" jdbcType="INTEGER" property="prizeId"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="sum" jdbcType="INTEGER" property="sum"/>
        <result column="expend_integral" jdbcType="INTEGER" property="expendIntegral"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="wl_num" jdbcType="VARCHAR" property="wlNum"/>
        <result column="wl_code" jdbcType="VARCHAR" property="wlCode"/>
        <result column="wl_name" jdbcType="VARCHAR" property="wlName"/>
        <result column="wl_price" jdbcType="DOUBLE" property="wlPrice"/>
        <result column="distri_mode" jdbcType="VARCHAR" property="distriMode"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="back_remark" jdbcType="VARCHAR" property="backRemark"/>
        <result column="order_state" jdbcType="INTEGER" property="orderState"/>
        <result column="pay_time" jdbcType="VARCHAR" property="payTime"/>
        <result column="send_time" jdbcType="VARCHAR" property="sendTime"/>
        <result column="record_time" jdbcType="VARCHAR" property="recordTime"/>
        <result column="refound_time" jdbcType="VARCHAR" property="refoundTime"/>
        <result column="delete_state" jdbcType="BIT" property="deleteState"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="order_type" jdbcType="INTEGER" property="orderType"/>
        <result column="pay_fee" jdbcType="DOUBLE" property="payFee"/>
        <result column="wxuser_name" jdbcType="VARCHAR" property="wxuserName"/>
        <result column="tel_phone" jdbcType="VARCHAR" property="telPhone"/>
        <result column="delivery_staff" jdbcType="VARCHAR" property="deliveryStaff"/>
        <result column="pay_type" jdbcType="INTEGER" property="payType"/>
    </resultMap>

    <resultMap id="BackResultMap" extends="BaseResultMap" type="com.medusa.basemall.integral.vo.PrizeOrderListVO">
        <association property="prize" column="prize_id" select="com.medusa.basemall.integral.dao.PrizeMapper.selectByPrimaryKey"/>
    </resultMap>
    <sql id="Base_Cloumn_List">
        prize_order_id, change_num, wxuser_id, prize_id, price, sum, expend_integral, name, address, wl_num, wl_code,
        wl_price, distri_mode, remark, back_remark, order_state, pay_time, send_time, record_time, refound_time,
        delete_state, create_time, update_time, appmodel_id, order_type, pay_fee, wxuser_name, tel_phone, delivery_staff,pay_type,wl_name
    </sql>

    <select id="selectByChangeNum" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Cloumn_List"/>
        from t_prize_order
        where change_num = #{changeNum, jdbcType=VARCHAR}
    </select>

    <select id="selectPrizeOrder" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Cloumn_List"/>
        from t_prize_order
        where appmodel_id = #{appmodelId, jdbcType=VARCHAR} and order_state != 0
        order by pay_time desc
    </select>

    <select id="selectCountAllOverOrder" resultType="INTEGER"
            parameterType="com.medusa.basemall.integral.vo.PrizeSurveyVo">
        select count(*)
        from t_prize_order
        where appmodel_id = #{appmodelId, jdbcType=VARCHAR} and order_state != 0
        <if test="startDate != null">
            and pay_time > #{startDate}
        </if>
        <if test="endDate != null">
            and  <![CDATA[ pay_time <  #{endDate} ]]>
        </if>
    </select>

    <select id="selectCountAllOverProductOrder" resultType="INTEGER"
            parameterType="com.medusa.basemall.integral.vo.PrizeSurveyVo">
        select count(*)
        from t_prize_order
        where appmodel_id = #{appmodelId, jdbcType=VARCHAR} and order_state != 0 and order_type = 1
        <if test="startDate != null">
            and pay_time > #{startDate}
        </if>
        <if test="endDate != null">
            and  <![CDATA[ pay_time <  #{endDate} ]]>
        </if>
    </select>

    <select id="selectCountAllOverCouponOrder" resultType="INTEGER"
            parameterType="com.medusa.basemall.integral.vo.PrizeSurveyVo">
        select count(*)
        from t_prize_order
        where appmodel_id = #{appmodelId, jdbcType=VARCHAR} and order_state != 0 and order_type = 2
        <if test="startDate != null">
            and pay_time > #{startDate}
        </if>
        <if test="endDate != null">
            and  <![CDATA[ pay_time <  #{endDate} ]]>
        </if>
    </select>

    <select id="selectSumAllIntegral" resultType="INTEGER"
            parameterType="com.medusa.basemall.integral.vo.PrizeSurveyVo">
        select sum(expend_integral)
        from t_prize_order
        where appmodel_id = #{appmodelId, jdbcType=VARCHAR} and order_state != 0
        <if test="startDate != null">
            and pay_time > #{startDate}
        </if>
        <if test="endDate != null">
            and  <![CDATA[ pay_time <  #{endDate} ]]>
        </if>
    </select>

    <select id="selectCountTodayOverOrder" resultType="INTEGER"
            parameterType="com.medusa.basemall.integral.vo.PrizeSurveyVo">
        select count(*)
        from t_prize_order
        where appmodel_id = #{appmodelId, jdbcType=VARCHAR} and order_state != 0 and pay_time like concat('%',#{realTime},'%')
    </select>

    <select id="selectCountTodayWaitOrder" resultType="INTEGER"
            parameterType="com.medusa.basemall.integral.vo.PrizeSurveyVo">
        select count(*)
        from t_prize_order
        where appmodel_id = #{appmodelId, jdbcType=VARCHAR} and order_state = 1 and pay_time like concat('%',#{realTime},'%')
    </select>

    <select id="selectCountTodayCouponOrder" resultType="INTEGER"
            parameterType="com.medusa.basemall.integral.vo.PrizeSurveyVo">
        select count(*)
        from t_prize_order
        where appmodel_id = #{appmodelId, jdbcType=VARCHAR} and order_type = 2 and pay_time like concat('%',#{realTime},'%')
    </select>

    <select id="selectSumTodayIntegral" resultType="INTEGER"
            parameterType="com.medusa.basemall.integral.vo.PrizeSurveyVo">
        select sum(expend_integral)
        from t_prize_order
        where appmodel_id = #{appmodelId, jdbcType=VARCHAR} and order_state != 0 and pay_time like concat('%',#{realTime},'%')
    </select>


    <select id="findByAppmodelId" resultMap="BackResultMap"
            parameterType="com.medusa.basemall.integral.vo.PrizeOrderVo">
        select
          <include refid="Base_Cloumn_List"/>
        from t_prize_order
        where appmodel_id = #{appmodelId, jdbcType=VARCHAR}
         and order_type = #{orderType, jdbcType=INTEGER}
        <if test="orderState != null">
            and order_state != 0
            and order_state = #{orderState, jdbcType=INTEGER}
        </if>
        <if test="wxuserName != null">
            and wxuser_name like concat('%',#{wxuserName, jdbcType=VARCHAR},'%')
        </if>
        order by prize_order_id desc
    </select>

</mapper>