<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.integral.dao.PrizeRuleMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.integral.entity.PrizeRule">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="prize_rule_id" jdbcType="INTEGER" property="prizeRuleId"/>
        <result column="type_one" jdbcType="INTEGER" property="typeOne"/>
        <result column="type_two" jdbcType="INTEGER" property="typeTwo"/>
        <result column="type_three_pay" jdbcType="INTEGER" property="typeThreePay"/>
        <result column="type_three_get" jdbcType="INTEGER" property="typeThreeGet"/>
        <result column="indate" jdbcType="INTEGER" property="indate"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="info" jdbcType="LONGVARCHAR" property="info"/>
    </resultMap>

    <sql id="Base_Column_List">
        prize_rule_id, type_one, type_two, type_three_pay, type_three_get, indate, appmodel_id, info
    </sql>

    <select id="findByAppmodelId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_prize_rule
        where appmodel_id = #{appmodelId,jdbcType=VARCHAR}
    </select>

</mapper>