<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.product.dao.ProductCategoryMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.product.entity.ProductCategory">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="product_category_id" jdbcType="BIGINT" property="productCategoryId"/>
        <result column="category_id" jdbcType="BIGINT" property="categoryId"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
    </resultMap>

    <resultMap id="CategoryProductVo" type="com.medusa.basemall.product.vo.CategoryProductVo">
        <result column="category_id" jdbcType="BIGINT" property="categoryId"/>
        <result column="category_name" jdbcType="BIGINT" property="categoryName"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="father_id" jdbcType="BIGINT" property="fatherId"/>
    </resultMap>
    <sql id="Base_Column_List">
         product_category_id, category_id, product_id, appmodel_id
    </sql>

    <delete id="deleteByCategoryId" parameterType="list">
        delete from t_product_category where category_id in
        <foreach collection="categoryIds" item="categoryId" index="index" open="(" close=")" separator=",">
            #{categoryId}
        </foreach>
    </delete>

    <delete id="deleteByProductIds" parameterType="list">
        delete from t_product_category where product_id in
        <foreach collection="productIds" item="productId" index="index" open="(" close=")" separator=",">
            #{productId}
        </foreach>
    </delete>

    <select id="selectByCategoryId" resultMap="BaseResultMap" parameterType="long">
        select
          <include refid="Base_Column_List"/>
        from t_product_category
        where category_id = #{categoryId, jdbcType=BIGINT}
    </select>
    <select id="selectByProdctParentCategoryId"  resultMap="CategoryProductVo" >
        SELECT
            DISTINCT pc.product_category_id,pc.category_id,pc.product_id,pc.appmodel_id,c.father_id,c.category_name
        FROM
            t_product_category pc,
            t_category c
        WHERE
            pc.product_id in
            <foreach collection="productIds" separator="," open="(" close=")" item="productId">
              #{productId}
            </foreach>
        AND c.category_id = pc.category_id
        <if test="fatherId != null">
            and c.father_id = #{fatherId}
        </if>
        AND c.category_type = #{categoryType}
        AND pc.appmodel_id = #{appmodelId}
    </select>

</mapper>