<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.shop.dao.SearchWordMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.shop.entity.SearchWord">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="search_word_id" jdbcType="INTEGER" property="searchWordId"/>
        <result column="keyword" jdbcType="VARCHAR" property="keyword"/>
        <result column="wordtype" jdbcType="BIT" property="wordtype"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
    </resultMap>

    <sql id="Base_Column_List">
        search_word_id, keyword, wordtype, appmodel_id
    </sql>

    <delete id="batchDelete" parameterType="java.lang.String">
        delete from t_search_word
        where search_word_id in
        <foreach item="searchWordId" index="index" collection="array" open="("
                 separator="," close=")">
            #{searchWordId}
        </foreach>
    </delete>

    <select id="findByAppmodelId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from t_search_word
        where appmodel_id = #{appmodelId,jdbcType=VARCHAR}
    </select>

    <select id="findByType" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from t_search_word
        where appmodel_id = #{appmodelId,jdbcType=VARCHAR} and wordtype = #{wordType,jdbcType=BIT}
    </select>
</mapper>
