<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.shop.dao.SmsMapper">


    <resultMap id="BaseResultMap" type="com.medusa.basemall.shop.entity.Sms">
        <id column="sms_id" jdbcType="INTEGER" property="smsId"/>
        <result column="user_tel" jdbcType="VARCHAR" property="userTel"/>
        <result column="sms_code" jdbcType="VARCHAR" property="smsCode"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
    </resultMap>


    <sql id="Base_Column_List">
        sms_id, user_tel, sms_code, type, create_time, update_time, appmodel_id
    </sql>

    <!-- 根据手机号查询记录 -->
    <select id="selectByPhone" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        t_sms
        where
        user_tel = #{phone,jdbcType=VARCHAR}
        and
        appmodel_id = #{appmodelId,jdbcType=VARCHAR}
        and
        type = #{type,jdbcType=INTEGER}
    </select>

    <!-- 更新验证码 -->
    <update id="updateCode" parameterType="Map">
        update t_sms set
        sms_code = #{smsCode,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=VARCHAR}
        where
        user_tel = #{phone,jdbcType=VARCHAR}
        and
        appmodel_id = #{appmodelId,jdbcType=VARCHAR}
        and
        type = #{type,jdbcType=VARCHAR}
    </update>


</mapper>