<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.product.dao.SpecificationMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.product.entity.Specification">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="specification_id" jdbcType="INTEGER" property="specificationId"/>
        <result column="specification_class_id" jdbcType="INTEGER" property="specificationClassId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="delete_state" jdbcType="BIT" property="deleteState"/>
    </resultMap>

    <sql id="Base_Column_List">
        specification_id,specification_class_id,name,appmodel_id,delete_state
    </sql>

    <update id="logicDelete" parameterType="INTEGER">
        update t_specification set delete_state = 1 where specification_class_id =
        #{specificationClassId,jdbcType=INTEGER}
    </update>

    <select id="findBySpecificationClassId" resultMap="BaseResultMap" parameterType="INTEGER">
        select
        <include refid="Base_Column_List"/>
        from t_specification
        where specification_class_id = #{specificationClassId,jdbcType=INTEGER} and delete_state=0
    </select>

</mapper>