<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.user.dao.WxuserGroupCategoryMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.user.entity.WxuserGroupCategory">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="wx_group_category_id" jdbcType="INTEGER" property="wxGroupCategoryId"/>
        <result column="wxuser_group_id" jdbcType="INTEGER" property="wxuserGroupId"/>
        <result column="wxuser_id" jdbcType="BIGINT" property="wxuserId"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
    </resultMap>

    <sql id="Base_Column_List">
    wx_group_category_id,wxuser_group_id,wxuser_id,create_time,appmodel_id,group_name
  </sql>

    <select id="selectWxuserGroup" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
          groupCategory.wx_group_category_id, groupCategory.wxuser_group_id, groupCategory.wxuser_id, groupCategory.create_time, groupCategory.appmodel_id,
          wxuserGroup.wx_group_name as group_name
        from t_wxuser_group_category groupCategory
        left join t_wxuser_group wxuserGroup on wxuserGroup.wxuser_group_id = groupCategory.wxuser_group_id
        where groupCategory.appmodel_id = #{appmodelId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteGroup" parameterType="java.lang.Integer">
        delete from t_wxuser_group_category
        where wxuser_group_id = #{groupId}
    </delete>

    <delete id="deleteWxuserId" parameterType="java.util.List">
        delete from t_wxuser_group_category
        where wxuser_id in
        <foreach collection="list" item="wxuser" open="(" close=")" separator=",">
            #{wxuser.wxuserId}
        </foreach>
    </delete>

    <insert id="setWxuserToGroup" parameterType="map">
        INSERT INTO t_wxuser_group_category(wxuser_group_id,wxuser_id,create_time,appmodel_id)
        values
        <foreach collection="groupIds" separator="," item="grouId">
            (
            #{grouId,jdbcType=INTEGER},
            #{wxuserId,jdbcType=VARCHAR},
            #{createTime,jdbcType=VARCHAR},
            #{appmodelId,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
</mapper>