<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.user.dao.WxuserMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.user.entity.Wxuser">
        <id column="wxuser_id" jdbcType="BIGINT" property="wxuserId"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="nike_name" jdbcType="VARCHAR" property="nikeName"/>
        <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="last_time" jdbcType="VARCHAR" property="lastTime"/>
        <result column="authorize_type" jdbcType="VARCHAR" property="authorizeType"/>
        <result column="delete_state" jdbcType="INTEGER" property="deleteState"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
        <result column="back_remark" jdbcType="VARCHAR" property="backRemark"/>
        <result column="mark_level" jdbcType="INTEGER" property="markLevel"/>
        <result column="session_key" jdbcType="VARCHAR" property="sessionKey"/>
        <result column="member_id" jdbcType="BIGINT" property="memberId"/>
    </resultMap>

    <resultMap id="BackResultMap" type="com.medusa.basemall.user.vo.BackWxuserVo" extends="BaseResultMap">
        <association property="totleOrder"
                     column="wxuser_id"
                     javaType="java.lang.Integer"
                     select="com.medusa.basemall.order.dao.OrderMapper.findWxuserConfirmOrderSum"/>
        <association property="totlePrice"
                     column="wxuser_id"
                     javaType="java.lang.Double"
                     select="com.medusa.basemall.order.dao.OrderMapper.findWxuserConfirmOrderTotlePrice"/>
        <association property="lastPayTime"
                     column="wxuser_id"
                     javaType="java.lang.String"
                     select="com.medusa.basemall.order.dao.OrderMapper.findWxuserLastPay"/>
        <association property="memberInfo"
                     column="{wxuserId=wxuser_id,appmodelId=appmodel_id}"
                     javaType="com.medusa.basemall.user.entity.Member"
                     select="com.medusa.basemall.user.dao.MemberMapper.selectUser"/>
    </resultMap>
    <resultMap id="MiniResultMap" type="com.medusa.basemall.user.vo.MiniWxuserVo" extends="BaseResultMap">
        <association property="memberInfo"
                     column="{wxuserId=wxuser_id,appmodelId=appmodel_id}"
                     javaType="com.medusa.basemall.user.entity.Member"
                     select="com.medusa.basemall.user.dao.MemberMapper.selectUser"/>
    </resultMap>


    <sql id="Base_Column_List">
        wxuser_id, open_id, nike_name, avatar_url, create_time, last_time,
        authorize_type, delete_state, appmodel_id, back_remark, mark_level, member_id, session_key
    </sql>

    <insert id="addUser" parameterType="com.medusa.basemall.user.entity.Wxuser">
        insert into t_wxuser
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wxuserId != null">
                wxuser_id,
            </if>
            <if test="openId != null">
                open_id,
            </if>
            <if test="nikeName != null">
                nike_name,
            </if>
            <if test="avatarUrl != null">
                avatar_url,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastTime != null">
                last_time,
            </if>
            <if test="authorizeType != null">
                authorize_type,
            </if>
            <if test="deleteState != null">
                delete_state,
            </if>
            <if test="appmodelId != null">
                appmodel_id,
            </if>
            <if test="backRemark != null">
                back_remark,
            </if>
            <if test="markLevel != null">
                mark_level,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="sessionKey != null">
                session_key,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wxuserId != null">
                #{wxuserId,jdbcType=BIGINT},
            </if>
            <if test="openId != null">
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="nikeName != null">
                #{nikeName,jdbcType=VARCHAR},
            </if>
            <if test="avatarUrl != null">
                #{avatarUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="lastTime != null">
                #{lastTime,jdbcType=VARCHAR},
            </if>
            <if test="authorizeType != null">
                #{authorizeType,jdbcType=INTEGER},
            </if>
            <if test="deleteState != null">
                #{deleteState,jdbcType=INTEGER},
            </if>
            <if test="appmodelId != null">
                #{appmodelId,jdbcType=VARCHAR},
            </if>
            <if test="backRemark != null">
                #{backRemark,jdbcType=VARCHAR},
            </if>
            <if test="markLevel != null">
                #{markLevel,jdbcType=INTEGER},
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=BIGINT},
            </if>
            <if test="sessionKey != null">
                #{sessionKey,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="selectByAppmodelId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
            wxuser_id,
            nike_name,
            avatar_url,
            create_time,
            last_time,
            back_remark,
            mark_level
        from t_wxuser
        where appmodel_id = #{appmodelId,jdbcType=VARCHAR} and delete_state = 0
    </select>


    <select id="selectByWxuserId" resultMap="MiniResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from
        t_wxuser
        where
        wxuser_id = #{wxuserId}
    </select>

    <select id="selectByOpenID" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List"/>
        from t_wxuser
        where open_id = #{openId,jdbcType=VARCHAR} and delete_state=0 and appmodel_id = #{appmodelId}
    </select>

    <select id="searchBack" resultMap="BackResultMap" parameterType="Map">
        select
        u.wxuser_id,u.open_id,u.nike_name,u.avatar_url,u.create_time,u.last_time,u.authorize_type,
        u.delete_state,u.appmodel_id,u.back_remark,u.mark_level,u.member_id,u.session_key,
        member.membership_number,member.code_type,member.supply_bonus,member.growth_value,
        member.integral,member.integral_total,
        member.phone,member.upgrade_time,member.state,member.rank_id,member.member_remark,
        memberRank.rank_name,memberRank.discount,memberRank.back_ground_pic_url,memberRank.title,
        memberRank.deduct_growth
        from t_wxuser AS u
        left join t_member member on member.wxuser_id = u.wxuser_id
        left join t_member_rank memberRank on member.rank_id = memberRank.rank_id
        <if test="vip == 1">
            LEFT JOIN t_member_group_category cate on cate.member_id = member.member_id
            LEFT JOIN t_member_group g on g.group_id = cate.group_id
        </if>
        <if test="vip == 0 || vip == -1">
            LEFT JOIN t_wxuser_group_category wxcate on wxcate.wxuser_id = u.wxuser_id
            LEFT JOIN t_wxuser_group wxg on wxg.wxuser_group_id = wxcate.wxuser_group_id
        </if>
        <if test="orderStart != null || sort == 302 || sort == 301">
            LEFT JOIN (
            SELECT
            wxuser_id
            <if test="sort == 302 || sort == 301">
                ,sum(pay_fee) AS totle_pay_free
            </if>
            FROM
            t_order
            WHERE
            <if test="appmodelId != null">
                appmodel_id = #{appmodelId}
            </if>
            <if test="sort == 302 || sort == 301">
                and pay_flag = 3
            </if>
            group by wxuser_id
            ) as o on o.wxuser_id = u.wxuser_id
        </if>
        where
        u.delete_state=0
        <if test="orderStart != null">
            and  <![CDATA[ o.pay_time >= #{orderStart} and o.pay_time  <= #{orderEnd}]]>
        </if>
        <if test="nikeName != null">
            and u.nike_name like #{nikeName}
        </if>
        <if test="vip == 0">
            <if test="starttime != null">
                and u.create_time> #{starttime}
            </if>
            <if test="endtime != null">
                and <![CDATA[ u.create_time < #{endtime} ]]>
            </if>
        </if>
        <if test="vip == 1">
            <if test="starttime != null">
                and member.create_time> #{starttime}
            </if>
            <if test="endtime != null">
                and <![CDATA[ member.create_time < #{endtime} ]]>
            </if>
        </if>
        <if test="appmodelId != null">
            and u.appmodel_id = #{appmodelId}
        </if>
        <if test="vip == 1">
            and member.state = 1
            <if test="groupId > 0">
                and cate.group_id = #{groupId}
            </if>
        </if>
        <if test="vip == 0">
            and member.state = 0
            <if test="groupId > 0">
                and wxcate.wxuser_group_id = #{groupId}
            </if>
        </if>
        group by u.wxuser_id
        <if test="sort != null">
            order by
            <if test="sort == 101">
                u.create_time desc
            </if>
            <if test="sort == 102">
                u.create_time asc
            </if>
            <if test="sort == 201">
                member.create_time desc
            </if>
            <if test="sort == 202">
                member.create_time asc
            </if>
            <if test="sort == 301">
                o.totle_pay_free desc, u.create_time desc
            </if>
            <if test="sort == 302">
                o.totle_pay_free asc , u.create_time desc
            </if>
        </if>
    </select>

    <update id="updateUserInfo" parameterType="com.medusa.basemall.user.entity.Wxuser">
        update t_wxuser
        <set>
            <if test="nikeName != null">
                nike_name = #{nikeName},
            </if>
            <if test="avatarUrl != null">
                avatar_url = #{avatarUrl},
            </if>
            <if test="sessionKey != null">
                session_key = #{sessionKey},
            </if>
            <if test="lastTime != null">
                last_time = #{lastTime}
            </if>
        </set>
        where
        wxuser_id = #{wxuserId}
    </update>

</mapper>