<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medusa.basemall.user.dao.WxuserGroupMapper">
    <resultMap id="BaseResultMap" type="com.medusa.basemall.user.entity.WxuserGroup">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="wxuser_group_id" jdbcType="INTEGER" property="wxuserGroupId"/>
        <result column="wx_group_name" jdbcType="VARCHAR" property="wxGroupName"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="appmodel_id" jdbcType="VARCHAR" property="appmodelId"/>
    </resultMap>
</mapper>